#leaflet_map {
    width: 90%;
    height: 512px;
    border: 1px solid #ccc;
}

#static_map_prediction {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

#static_map_uncertainty {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.leaflet-container {
    background: #fff;
}
